
<main>
<% @videos.order("created_at desc").each do |video| %>
  <article>
   <h4><%= link_to video.title, video.youtube_link %></h4>

   <div class= embed_div>
   <%=raw video.embed %>
  </div>
   <ul>
     <li> <%= link_to "View video", video_path(video)%></li>
     <li>  <%= link_to "Edit Video", "/videos/#{video.id}/edit" %></li>
     <li>  <%= link_to "Delete this video", "/videos/#{video.id}", method: :delete, data: { confirm:
      "Are you sure you want to delete this video?"} %></li>
   </ul>
  </article>
  <% end %>
</main>
