
<main>
<% @videos.each do |video| %>
  <article>
   <h4><%= link_to video.title, video.youtube_link %></h4>

   <div class= embed_div>
   <%=raw video.embed %>
  </div>
   <ul>
     <li> <%= link_to "View Video", video_path(video)%></li>
     <li>  <%= link_to "Edit Video", edit_video_path(video) %></li>
     <li>  <%= link_to "Delete this video", video_path(video), method: :delete, data: { confirm:
      "Are you sure you want to delete this video?"} %></li>
   </ul>
  </article>
  <% end %>
</main>
